h1 {
	color:#fff;
}
p {
	color:rgba(255,255,255,0.7);
}
.credits {
	color:rgba(255,255,255,0.7);
}
a {
	color:#fff;
}
.arrow-next:after {
	border-color: transparent transparent transparent #fff;
}
.arrow-prev:after {
	border-color: transparent #fff transparent transparent;
}